body {
    background-color: rgb(6, 82, 29);
}

nav {
    text-align: center;
    background-color: #808080;
    padding: 15px 0;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    color: #ffffff;
}

#imagem1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px; 
}

#imagem2 {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 200px; 
}